*{
	margin: 0;
	padding: 0;
}

body{
	text-align: center;
	background: #2D78BB;
}

.non-visible{
	height: 0;
	width: 0;
	visibility: hidden;
  	opacity: 0;
  	transition: visibility 0s, opacity 0.3s linear;
  	margin: 0px;
}

.visible{
	height: auto;
	width: auto;
	visibility: visible;
  	opacity: 1;
}

.max-40-vw{
	width: 40vw;
}

.max-40-of-parent{
	width: 40%; 
}

button{
	
	
	font-size: 1,5rem;
}

form{
	margin: 12px;
	display: block;
	
}

input{
	margin: 6px 0;
}

a{
	margin: 18px;
	display: block;
	color: #fff;

}

header{
	
}

footer{
  height:0px;
  margin: 0px;

}

label{
	color: #fff;
	margin: 12px;

}
	
::-webkit-scrollbar{
	display: none;

}

.buttons{
	margin: 5px;
}

#about{
	background-color: #fff; 
	margin-top: 24px;
	display: block;
	clear: both;

}
.frontheader{
	margin: 12px;
}


#profile_image_wrapper img

{
	height: 250px;
	width: 250px;
}
