@charset "utf-8";
/* CSS Document */

*{
  height:px;
  width:px;
  /*font-family:Verdana;*/
}

header{
  height:px;
  width:px;
  margin:;
}



body{
	background:#2D78BB;
}

footer{
  height:px;
  margin:;
}